@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


html, body {
      background-color: #AFA;
      font-family: "Raleway", Times, serif;
}
.containerMain {
    display:grid;
    grid-template-areas:
        "leftScreen rightScreen";
    grid-template-columns: 60% 40%;
    grid-template-rows: 770px;
    background: black;
}
/*-------------------------
       Right Screen
-------------------------*/
.rightScreen {
    grid-area: rightScreen;
    background: #eb4026;
    overflow: scroll;
    display: grid;
    grid-template-areas: 
    "coment rContent"
    "arquiv rContent"
    "links rContent";
    grid-template-columns: 10% 90%;
    grid-template-rows: 33.3% 33.3% 33.3%;
}

.nave{
    background: #e88b2e;
}
.rBtn {
    width: 10%;
    background: purple;
}
.rightContent {
    grid-area: rContent;
    margin-right: auto;
    margin-left: auto;
}

.rightScreen img {
    width: 100%;
    height: auto;
}
.leftScreen img{/*lucas*/
    width: 100%;
    height: auto;
}
.nav {
    transform: rotate(90deg);
}
.nav button {
    display: none;
}
.navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

#comentarioBtn {
    grid-area: coment;
    background: #eb4026;
}
#comentarioBtn:hover{
    background: #e88b2e;
}
#arquivosBtn {
    grid-area: arquiv;
    background: lightblue;
}
#arquivosBtn:hover {
    background: #e88b2e;
}

#linksBtn {
    grid-area: links;
    background: lightblue;   
 
}
#linksBtn:hover {
    background: #e88b2e;
}
/*----- User Box ------*/

.userBox {
    display: grid;
    margin: 20px auto;
    width: 340px;
    height: 120px;
    border-radius: 20px;
    padding: 34px;
    background: #d9ae8f;
    grid-template-areas: 
        "pic name stars"
        "pic content content";
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 30% 70%;
}
#photoProfile {
    grid-area: pic;
}
#stars {
    grid-area: stars;
}
.containerNameLogin {
    font-size: 1vw;
    grid-area: name;
    padding: 2px 0 0 20px;
}
.userDescription {
    font-size: 1vw;
    font-style: italic;
    grid-area: content;
    padding: 8px 0 0 20px;
}
/*----- File Box ------*/
.fileBox {
    background: black;
}
/*----- Link Box ------*/
.linkBox {
    background: purple;
}

/*-------------------------
       Left Screen
-------------------------*/
.leftScreen {
    grid-area: leftScreen;
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    grid-template-columns: 55% 39% 6%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    background: lightblue;
}

.containerName {
    grid-area: a;
    display:flex;
    justify-content: center;
    padding : 20% 0 15% 0;
    font-size: 1.3vw;
}
.furtherDesc {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    text-align: center;
    margin-top: 45px;
}
.furtherDesc img {
    max-width: 14vw;
    height: auto;
}

.containerDesc {
    grid-area: d;
    padding: 0 15% 0 15%;
    font-size: 1.2vw;
    justify-content: center;
}

.fileLabel {
    margin-right: 10px; 
    background: blueviolet;
    width: 75px;
    height: 100px;
}
.fileLabel:hover {
    background: #e88b2e;
}
.containerFiles {
    grid-area: e;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerResume {
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLinks {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
}   

